.main{
    width: 260px;
    background-color: #144bb1;
    color: white;
    text-align: center;
    padding: 30px 30px;
    border-radius: 20px;
    margin-top: 150px ;
    margin-left: 80px;
    margin-bottom: 100px;
}
.main:hover{
    background-color: #0e3887;
}
.mid{
    padding-top: 20px ;
}
.end{
   padding-top: 50px;
}
